:root {
    --salmon: #FF6565;
    --white: #FFFFFF;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--white);
    font size: 15px;
}

div.main {
    background-image: url("./images/headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

/* navbar */
.navbar{
    list-style: none;
    align-items: center;
    gap: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.navbar-brand{
}

.navbar-element{
    font-size: 150%;
    display: flex;
    flex-flow: row wrap;
    gap: 5rem;
    justify-content: center;
    justify-content: flex-end;
}

.callToAction{
    padding-top: 200px;
    padding: 200px 300px;
    text-align: center;
}

.callToAction button {
    background-color: var(--salmon);
    color: var(--white);
    font-size: 100%;
    width: 220px;
    height: 60px;
    border-radius: 30px;
}
    
   